h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Roboto", sans-serif;
}

html { 
    scroll-behavior:smooth;
}

.ignielToTop {
    width:40px; 
    height:40px; 
    position:fixed; 
    bottom:40px; 
    right: 40px; 
    z-index:99; 
    cursor:pointer; 
    border-radius:100px; 
    transition: all .5s; 
    background:#008c5f url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

.ignielToTop:hover {
    background:#1d2129 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

.container {
    padding-top: 8vh;
    padding:2em;
    margin-left: 30px;
}

.layout {
    display: flex;
    flex-direction: row;
}

.footer-container {
    padding-top: 8vh;
    padding:2em;
}

.container h1 {
    font-size: 35px;
    font-weight: 450;
}

.jumbotron {
    background: #0b212d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jumbotron h1 {
    font-size: 35px;
    font-weight: 550;
    color: cyan;
}

.jumbotron h5 {
    color: white;
}

.jumbotron h1 span {
    font-size: 28px;
    font-weight: 650;
    color: red;
}

.float-right {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.float-right h6 {
    color: aqua;
    margin-top: 5px;
    margin-right: 10px;
}

.facebook {
    background: #3b5998;
    border-radius: 4px; 
    color: #f7f7f7; 
    height: 27px;
    margin-right: 6px;
}

.facebook:hover {
    background-color: cyan;
    color:black;
}

.youtube {
    background: #d34836;
    border-radius: 4px; 
    color:  #fff;
    text-decoration: none;
    height: 27px;
    margin-right: 6px;
}

.youtube:hover {
    background-color: #fff;
    color:#d34836;
}

.whatsapp {
    background: #20bb5c;
    border-radius: 4px; 
    color:  #fff;
    text-decoration: none;
    height: 27px;
    margin-right: 6px;
}

.whatsapp:hover {
    background-color: rgb(0, 128, 17);
    color: aqua;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.book-result-section {
    display:flex;
    flex-direction: column;
    width: 65%;
}

.book-result{
    display:flex;
    flex-direction: row;
    box-shadow: 0 0px 20px rgba(71, 71, 71, 0.205);
    border-radius: 20px;
    margin-top:15px;
    margin-bottom:15px;
    padding:20px;
    width: 100%;
    background-color: rgba(0, 255, 242, 0.123);
    color:black;
}

.book-thumbnail{
    height: 150px;
    border-radius: 8px;
    box-shadow: 5px 5px 18px rgba(85, 85, 85, 0.664);
}

.book-detail{
    margin-left: 30px;
    margin-right: 30px;
}

.book-title{
    font-size: 20px;
    font-weight: 700;
}

.book-publisher{
    color:rgb(167, 167, 167)
}

.top-5-button{
    border-radius:10px;
    border-width: 0px;
    padding:10px 15px 10px 15px;
    font-size: 15px;
    font-weight: 650;
    cursor: pointer;
    box-shadow: 0 0px 15px rgba(85, 85, 85, 0.274);
    transition: box-shadow 0.15s;
    background-color:#ff0000;
    color:white
}

.top-5-button:hover{
    box-shadow: 0 0px 10px rgba(85, 85, 85, 0.561);
    background-color:#4a56ff;
}

.top-book-result{
    display:flex;
    flex-direction: row;
    box-shadow: 0 0px 20px rgba(71, 71, 71, 0.205);
    border-radius: 20px;
    margin-top:15px;
    margin-bottom:15px;
    padding:20px;
    width: 100%;
    background-color: rgba(255, 247, 247, 0.849);
    color:black;
}

.book-like-button{
    margin-top:40px;
    border-radius:10px;
    border-width: 0px;
    padding:10px 15px 10px 15px;
    font-size: 15px;
    font-weight: 650;
    cursor: pointer;
    box-shadow: 0 0px 15px rgba(85, 85, 85, 0.274);
    transition: box-shadow 0.15s;
    background-color:#fe4e4e;
    color:white
}

.book-like-button:hover{
    box-shadow: 0 0px 10px rgba(85, 85, 85, 0.561);
}

.liked-book-container{
    padding:25px;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274);
    height:200px;
    margin:15px;
    margin-left:30px;
}

#footer {
    background: #0b212d;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #a2cce3;
}

@media only screen and (max-width:500px){
    .container{
        margin-left:0px;
        margin-right:6px;
        padding-left: 23px;
    }
    .jumbotron{
        flex-direction: column;
        justify-content: center;
    }
    .float-right {
        flex-direction: column;
    }
    .book-result-section{
        width: 100%;
    }
    .book-title{
        font-size: 16px;
        font-weight: 650;
    }
    .book-publisher{
        font-size: 14px;
    }
    .layout {
        display: flex;
        flex-direction: column-reverse;
    }
    .liked-book-container{
        padding:20px;
        height:170px;
        margin-left:5px;
    }
    .liked-book-container h1{
        font-size: 28px;
        font-weight: 500;
    }
}