{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'Letter-S.png' %}" rel="icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <title>Perpustakaan 1D</title>
</head>
<body>
    <div class="jumbotron">
        <div class="header-left">
            <h1>Perpustakaan<span> 1D</span></h1>
            <h5>Hello, all!<span> I'm Suwandi and this is my story 9</span></h5>
        </div>
        <div class="float-right">
            <h6><b>FOLLOW ME ON</b></h6>
            <div class="social-media">
                <a class="facebook" href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/">Facebook</a>
                <a class="youtube" href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/">Youtube</a>
                <a class="whatsapp" href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian...">WhatsApp</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h3><img class="logo" src="{% static 'buku.png' %}" alt="..."> Welcome readers!</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Silahkan cari disini..." id="keyword" name="query">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btn-search">SEARCH</button>
                    <a href="" class="btn btn-warning">RESET</a>
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container layout">
        <div class="book-result-section" id="bookSearchResult">
            
        </div>
        <div class="liked-book-container" id="likedBookSection">
            <h1 class="main-title">Top 5 most loved books</h1>
            <button type="button" id="modalButton" class="top-5-button" data-toggle="modal" data-target="#topBookModal" onclick="loadTopBook()">
                Top 5 loved books
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="topBookModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><span class="main-title">Top 5 most loved books</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" id="topBookContainer">

            </div>
        </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<footer id="footer">
    <div class="footer-container">
        <div class="copyright">
            Copyright &copy;<strong><span> Suwandi</span></strong> 2020
        </div>
        <div class="credits">
            FASILKOM UI
        </div>
    </div>
</footer>
<a href="#" class="ignielToTop" id="myBtn"></a>
</html>
